.send-button {
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  /*vertical horizontal*/
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.chat-input {
  padding: 12px 15px;
  font-size: 15px;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 10px;
  flex-grow: 1;
}

.chat-input-container {
  display: flex;
  margin-bottom: 60px;
}
